<a href="https://colab.research.google.com/github/abisheksrivastav/Kaggle-Competition/blob/master/Kaggle_competition_New_York_Taxi_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!kaggle competitions download -c house-prices-advanced-regression-techniques -p /content

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 6, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python2.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 146, in authenticate
    self.config_file, self.config_dir))
IOError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [3]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.5)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.6.16)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [4]:
!ls

sample_data

In [0]:
!mkdir .kaggle

In [0]:
import json
token = {"username":"abisheksrivastav","key":"639d18853bab12c963ce62a7cb5e9c7b"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [0]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [8]:
!kaggle datasets list

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
ref                                                         title                                                size  lastUpdated          downloadCount
----------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
bradklassen/pga-tour-20102018-data                          PGA Tour Golf Data                                   92MB  2019-08-20 10:32:59           3682
AnalyzeBoston/crimes-in-boston                              Crimes in Boston                                     10MB  2018-09-04 17:56:03          11786
matheusfreitag/gas-prices-in-brazil                         Gas Prices in Brazil                                  3MB  2019-07-12 16:23:52           6310
jealousleopard/goodreadsbooks                               Goodreads-books                                     632KB  2019-06-14 16:35:05          10380
wkirgsn/electric-motor-temperature                          Electric Motor Temperature                           47MB  2019-06-19 11:12:41           3845
jolasa/waves-measuring-buoys-data-mooloolaba                Waves Measuring Buoys Data                          599KB  2019-07-07 16:59:44           1243
sudalairajkumar/chennai-water-management                    Chennai Water Management                             75KB  2019-06-19 03:42:44           6752
doit-intl/autotel-shared-car-locations                      Shared Cars Locations                                78MB  2019-01-10 13:06:00           1260
eliasdabbas/search-engine-results-flights-tickets-keywords  Search Engine Results - Flights & Tickets Keywords   24MB  2019-08-15 13:12:18           2257
r3w0p4/recorded-crime-data-at-police-force-area-level       Recorded Crime Data at the Police Force Area Level  300KB  2019-06-21 15:16:46           2012
r3w0p4/bournemouth-venues                                   Venues in Bournemouth                                 3KB  2019-07-08 14:26:48            731
Madgrades/uw-madison-courses                                UW Madison Courses and Grades 2006-2017              90MB  2018-05-15 18:58:25           1344
datafiniti/womens-shoes-prices                              Women's Shoe Prices                                  12MB  2019-06-24 22:50:14          11404
datafiniti/pizza-restaurants-and-the-pizza-they-sell        Pizza Restaurants and the Pizza They Sell           850KB  2019-05-30 00:21:21           5761
citylines/city-lines                                        Transit systems of world                              3MB  2019-03-25 16:53:05           2102
citizen-ds-ghana/health-facilities-gh                       Ghana Health Facilities                              84KB  2018-09-03 01:19:24           1007
inIT-OWL/vega-shrinkwrapper-runtofailure-data               Vega shrink-wrapper component degradation           408KB  2018-11-12 13:03:43            280
university-of-edinburgh/peace-agreements-dataset            Peace Agreements Dataset                              1MB  2018-03-05 16:39:50            702
lakshyaag/india-trade-data                                  India - Trade Data                                    1MB  2019-08-16 16:13:58            618
rtatman/list-of-pypi-packages                               List of PyPI Packages                                 2MB  2019-08-24 15:06:28            374

In [9]:
!kaggle datasets list -s New York

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
kaggle: error: unrecognized arguments: York

In [0]:
!chmod 600 /root/.kaggle/kaggle.json

In [11]:
!kaggle datasets list -s new-york-taxi-fare

ref                                            title                                     size  lastUpdated          downloadCount
---------------------------------------------  ----------------------------------------  ----  -------------------  -------------
dansbecker/new-york-city-taxi-fare-prediction  New York City Taxi Fare Prediction         1MB  2018-09-13 20:32:07            838
dster/nyc-taxi-fare-bigquery-dataset           New York City Taxi Fare BigQuery Dataset   4GB  2019-02-12 00:33:58              0
amit07/nycyellowtaxi2017                       NYCYellowTaxi2017                         94KB  2019-05-22 15:51:38              7

In [12]:
!kaggle competitions download -c new-york-city-taxi-fare-prediction -p /content

Downloading sample_submission.csv to /content
  0% 0.00/335k [00:00<?, ?B/s]
100% 335k/335k [00:00<00:00, 45.8MB/s]
Downloading test.csv to /content
  0% 0.00/960k [00:00<?, ?B/s]
100% 960k/960k [00:00<00:00, 62.3MB/s]
Downloading train.csv.zip to /content
 99% 1.55G/1.56G [00:20<00:00, 68.5MB/s]
100% 1.56G/1.56G [00:20<00:00, 81.4MB/s]
Downloading GCP-Coupons-Instructions.rtf to /content
  0% 0.00/486 [00:00<?, ?B/s]
100% 486/486 [00:00<00:00, 525kB/s]

In [13]:
!unzip \*.zip

Archive:  train.csv.zip
  inflating: train.csv

In [0]:
import pandas as pd

In [0]:
train = pd.read_csv('train.csv')

In [16]:
train.head()

                             key  ...  passenger_count
0    2009-06-15 17:26:21.0000001  ...                1
1    2010-01-05 16:52:16.0000002  ...                1
2   2011-08-18 00:35:00.00000049  ...                2
3    2012-04-21 04:30:42.0000001  ...                1
4  2010-03-09 07:51:00.000000135  ...                1

[5 rows x 8 columns]

In [0]:
test = pd.read_csv('test.csv')

In [18]:
test.head()

                           key  ... passenger_count
0  2015-01-27 13:08:24.0000002  ...               1
1  2015-01-27 13:08:24.0000003  ...               1
2  2011-10-08 11:53:44.0000002  ...               1
3  2012-12-01 21:12:12.0000002  ...               1
4  2012-12-01 21:12:12.0000003  ...               1

[5 rows x 7 columns]

In [0]:
sample = pd.read_csv('sample_submission.csv')

In [20]:
sample.head()

                           key  fare_amount
0  2015-01-27 13:08:24.0000002        11.35
1  2015-01-27 13:08:24.0000003        11.35
2  2011-10-08 11:53:44.0000002        11.35
3  2012-12-01 21:12:12.0000002        11.35
4  2012-12-01 21:12:12.0000003        11.35

In [21]:
!ls

GCP-Coupons-Instructions.rtf  sample_submission.csv  train.csv
sample_data		      test.csv		     train.csv.zip

In [22]:
train.isnull().sum()

key                    0
fare_amount            0
pickup_datetime        0
pickup_longitude       0
pickup_latitude        0
dropoff_longitude    376
dropoff_latitude     376
passenger_count        0
dtype: int64

In [23]:
train.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [24]:
train.shape

(55423856, 8)

In [25]:
test.shape

(9914, 7)

In [26]:
!pip install featexp

Collecting featexp
  Downloading https://files.pythonhosted.org/packages/74/fa/696c425c82e6d25ac7844f18823b96b2b37b759ffdbc189f938d1f02331b/featexp-0.0.5-py3-none-any.whl
Collecting numpy==1.15.4 (from featexp)
  Downloading https://files.pythonhosted.org/packages/ff/7f/9d804d2348471c67a7d8b5f84f9bc59fd1cefa148986f2b74552f8573555/numpy-1.15.4-cp36-cp36m-manylinux1_x86_64.whl (13.9MB)
     |████████████████████████████████| 13.9MB 3.4MB/s
Collecting pandas==0.23.4 (from featexp)
  Downloading https://files.pythonhosted.org/packages/e1/d8/feeb346d41f181e83fba45224ab14a8d8af019b48af742e047f3845d8cff/pandas-0.23.4-cp36-cp36m-manylinux1_x86_64.whl (8.9MB)
     |████████████████████████████████| 8.9MB 25.2MB/s
Collecting matplotlib==3.0.2 (from featexp)
  Downloading https://files.pythonhosted.org/packages/71/07/16d781df15be30df4acfd536c479268f1208b2dfbc91e9ca5d92c9caf673/matplotlib-3.0.2-cp36-cp36m-manylinux1_x86_64.whl (12.9MB)
     |████████████████████████████████| 12.9MB 33.7MB/s
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4->featexp) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4->featexp) (2.5.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.0.2->featexp) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.0.2->featexp) (2.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.0.2->featexp) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas==0.23.4->featexp) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib==3.0.2->featexp) (41.2.0)
ERROR: google-colab 1.0.0 has requirement pandas~=0.24.0, but you'll have pandas 0.23.4 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: numpy, pandas, matplotlib, featexp
  Found existing installation: numpy 1.16.4
    Uninstalling numpy-1.16.4:
      Successfully uninstalled numpy-1.16.4
  Found existing installation: pandas 0.24.2
    Uninstalling pandas-0.24.2:
      Successfully uninstalled pandas-0.24.2
  Found existing installation: matplotlib 3.0.3
    Uninstalling matplotlib-3.0.3:
      Successfully uninstalled matplotlib-3.0.3
Successfully installed featexp-0.0.5 matplotlib-3.0.2 numpy-1.15.4 pandas-0.23.4

In [27]:
test.shape

(9914, 7)

In [0]:
import numpy as np

In [29]:
train['fare_amount'].describe()

count    5.542386e+07
mean     1.134505e+01
std      2.071083e+01
min     -3.000000e+02
25%      6.000000e+00
50%      8.500000e+00
75%      1.250000e+01
max      9.396336e+04
Name: fare_amount, dtype: float64

In [0]:
train = train.drop(train[train.isnull().any(1)].index, axis = 0)

In [31]:
train.shape

(55423480, 8)

In [32]:
train.isnull().sum()

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [33]:
train.describe()

        fare_amount  pickup_longitude  ...  dropoff_latitude  passenger_count
count  5.542348e+07      5.542348e+07  ...      5.542348e+07     5.542348e+07
mean   1.134500e+01     -7.250973e+01  ...      3.992068e+01     1.685391e+00
std    2.071087e+01      1.284878e+01  ...      9.633346e+00     1.327662e+00
min   -3.000000e+02     -3.442060e+03  ...     -3.547887e+03     0.000000e+00
25%    6.000000e+00     -7.399207e+01  ...      4.073403e+01     1.000000e+00
50%    8.500000e+00     -7.398180e+01  ...      4.075316e+01     1.000000e+00
75%    1.250000e+01     -7.396708e+01  ...      4.076810e+01     2.000000e+00
max    9.396336e+04      3.457626e+03  ...      3.537133e+03     2.080000e+02

[8 rows x 6 columns]

In [34]:
train.columns

Index(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'],
      dtype='object')

In [0]:
features = [['pickup_datetime','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count']]

In [0]:
y = train['fare_amount']

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
reg =  LinearRegression()

In [39]:
reg.fit(X=train[['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count']],y = train['fare_amount'] )

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
test['fare_amount'] = reg.predict(test[['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count']])

In [41]:
!ls

GCP-Coupons-Instructions.rtf  sample_submission.csv  train.csv
sample_data		      test.csv		     train.csv.zip

In [42]:
test.head(n=3)

                           key  ... fare_amount
0  2015-01-27 13:08:24.0000002  ...   11.266874
1  2015-01-27 13:08:24.0000003  ...   11.266843
2  2011-10-08 11:53:44.0000002  ...   11.266874

[3 rows x 8 columns]

In [43]:
my_submission = pd.DataFrame({'key':test.key,'fare_amount':test['fare_amount']})
                              
my_submission.to_csv('submission.csv',index=False)

TypeError: ignored

In [0]:
sample_submission1 = pd.read_csv('sample_submission.csv')

In [0]:
sample_submission1.head()

In [0]:
my_submission = pd.DataFrame({'key':test.key,'fare_amount':test['fare_amount']})

In [0]:
from google.colab import files